/* .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 38%;
    Right: 35%;
    width: 100%;
    color: white;
} */

/* .image {
  width: 100%;
  object-fit: cover;
} */

html {
  font-size: 1rem;
}

.myrow {
  height: 40%;
}



/*Responsive Styles*/
@media screen and (max-width:1160px) {


.specheading {
    font-size: 20px;
  }
}

@media screen and (max-width:860px) {
  /* html {
    font-size: 1.4rem;
  }
} */
}
/* @media screen and (max-width:768px) {

} */

@media screen and (max-width:700px) {



  /* html {
    font-size: 1rem;
  } */
}
